Lib Imports

In [ ]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
import pickle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
%cd /content/drive/MyDrive/ML - LAB

/content/drive/MyDrive/ML - LAB

In [ ]:
%ls

 data.csv  'LAB 2_ INDIVIDUAL.pdf'   student_number.ipynb

Data Import

In [ ]:
# Load dataset into a pandas dataframe objecte named 'my_data
# complete code below
my_data = pd.read_csv('data.csv')

In [ ]:
my_data

             price  bedrooms  bathrooms  ...  sqft_above  sqft_basement  yr_built
0     3.130000e+05       3.0       1.50  ...        1340              0      1955
1     2.384000e+06       5.0       2.50  ...        3370            280      1921
2     3.420000e+05       3.0       2.00  ...        1930              0      1966
3     4.200000e+05       3.0       2.25  ...        1000           1000      1963
4     5.500000e+05       4.0       2.50  ...        1140            800      1976
...            ...       ...        ...  ...         ...            ...       ...
4595  3.081667e+05       3.0       1.75  ...        1510              0      1954
4596  5.343333e+05       3.0       2.50  ...        1460              0      1983
4597  4.169042e+05       3.0       2.50  ...        3010              0      2009
4598  2.034000e+05       4.0       2.00  ...        1070           1020      1974
4599  2.206000e+05       3.0       2.50  ...        1490              0      1990

[4600 rows x 12 columns]

In [ ]:
# remove rows with missing values e.g. NaN values as our algorithms only work with numbers

my_data = my_data.dropna(axis=0)

In [ ]:
my_data

             price  bedrooms  bathrooms  ...  sqft_above  sqft_basement  yr_built
0     3.130000e+05       3.0       1.50  ...        1340              0      1955
1     2.384000e+06       5.0       2.50  ...        3370            280      1921
2     3.420000e+05       3.0       2.00  ...        1930              0      1966
3     4.200000e+05       3.0       2.25  ...        1000           1000      1963
4     5.500000e+05       4.0       2.50  ...        1140            800      1976
...            ...       ...        ...  ...         ...            ...       ...
4595  3.081667e+05       3.0       1.75  ...        1510              0      1954
4596  5.343333e+05       3.0       2.50  ...        1460              0      1983
4597  4.169042e+05       3.0       2.50  ...        3010              0      2009
4598  2.034000e+05       4.0       2.00  ...        1070           1020      1974
4599  2.206000e+05       3.0       2.50  ...        1490              0      1990

[4600 rows x 12 columns]

In [ ]:
y = my_data['price']

In [ ]:
# Choose target features, complete the line below
y = my_data['price']

# Choose input features, complete the lines below
features = ['bedrooms',	'bathrooms',	'sqft_living',	'sqft_lot',	'floors',	'waterfront',	'view',	'condition',	'sqft_above',	'sqft_basement',	'yr_built']
X = my_data[features]

Model Training i.e. use the cells below to create and train a Random Forest Regresor Model

In [ ]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to the random_state argument guarantees we get the same split every time we run this script.

train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [ ]:
from sklearn.ensemble import RandomForestRegressor      # our algorithm
from sklearn.metrics import accuracy_score        # to test pefromance

In [ ]:
rand_forest_model = RandomForestRegressor(random_state=1)

In [ ]:
rand_forest_model.fit(train_X, train_y)

RandomForestRegressor(random_state=1)

In [ ]:
preds = rand_forest_model.predict(val_X)

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn import datasets

In [ ]:


print(mean_absolute_error(val_y, preds))

175577.69117413642

Make Predctions fro the two houses below using your model created above.

In [ ]:
house_one = [4, 4, 4440, 5480, 2, 0, 3, 5, 3140, 1400, 2012]
house_two = [1, 2, 100, 200, 1, 0, 2, 4, 300, 00, 1998]

In [ ]:
# print predicited price for house 1
print(rand_forest_model.predict([house_one]))

[1493953.99]

In [ ]:
# print predicited price for house 2
print(rand_forest_model.predict([house_two]))

[1343301.7]

Save Your Model

In [ ]:
import pickle

# Saving model to disk, the model should be save using your studnet number e.g. 12345.pk for someone who has 12345 as their student number
pickle.dump(rand_forest_model, open("model.pkl", "wb"))

The End